.portfolio_top h6 {
    color: var(--purple);
    margin-bottom: 15px;
}



.portolio_button-tabs {
    background: transparent;
    color: #fff;
    border: none;
}
.portfolio_button-container button:hover, .portfolio_button-container button:active  {
    color: var(--purple);
}

.portfolio_card {
    position: relative;
    z-index: 90;
    cursor: pointer;
    background-color: #171f38;
}

.portfolio_item {
    padding: 20px;
    background-color: #132347;
    margin: 2rem 0; 
}

.portfolio_item h6 {
    color: var(--purple);
    margin-bottom: 15px;
}
.portfolio_img img {
    border-radius: 5px;
}

.portfolio_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 12, 107, 0.842), rgba(0, 12, 107, 0.841));
    z-index: 91;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    border-radius: 5px;
}
.portfolio_content h6 {
    color: #fff;
    font-size: 1.4rem;
}

.portfolio_card:hover .portfolio_content {
    visibility: visible;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    40% { opacity: 1; }
  }
.active-tab-btn {
    color: var(--purple);
}
.portfolio_keyword {
    padding: 5px 10px;
    color: #fff;
    background-color: #a3abbe68;
    font-size: 0.8rem;
    margin-right: 10px !important;
    border-radius: 5px;
    margin: 10px 0;
}

@media only screen and (max-width: 576px){

    .portfolio_button-container {
        justify-content: space-between;
    }

}