

.single_experience-container {
    padding: 30px;
    background-color: var(--Dark3);
    border-radius: 10px;
}

.single_experience {
    position: relative;
    padding: 20px 30px;
    z-index: 10;
}

.single_experience::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: '';
    background-color: var(--purple);
    color: var(--purple);
    z-index: 10;
    
}
.experience_icon {
    position: absolute;
    left: -7px;
    top: 10px;
    color: var(--purple);
    z-index: 9;
}

.single_experience h6 {
    font-style: 0.8rem;
    opacity: 75%;
    font-weight: 300;
    margin-bottom: 10px;
}

.single_experience h5 {
    font-style: 1.1rem;
    margin-bottom: 15px;
}

.single_experience p {
    font-weight: 300;
    line-height: 30px;
    font-style: 0.9rem;
}

.why_choose-container h6{
    color: var(--purple);
}

@media only screen and (max-width: 576px){

    .single_experience-container {
        margin-bottom: 3rem;
    }
}